################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/obj/*
/Fasdr.Backend/obj/*
/Fasdr.UnitTests/obj/*
/Fasdr/packages/System.IO.Abstractions.*
/Fasdr/packages/NUnit.*
/Fasdr/packages/System.IO.Abstractions.TestingHelpers.*
/Fasdr.UnitTests/bin/*
/Fasdr/.vs/fasdr/v14
*.dll
*.pdb
/Fasdr/packages/System.IO.Abstractions.*
/Fasdr/packages/System.IO.Abstractions.TestingHelpers.*
/Fasdr/packages/DuoVia.*
